/* START:: GLOBAL STYLES */
body{
  font-family: 'Cairo', sans-serif;
}

body::-webkit-scrollbar {
  background-color: #121212;
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #17b978;
}

.ck.ck-editor {
  width: 100% !important;
}

.kt-portlet .kt-portlet__head .kt-portlet__head-label .btns-box a,
.kt-portlet .kt-portlet__head .kt-portlet__head-label .btns-box button {
  border-color: #17b978 !important;
  color: #17b978 !important;
  transition: all 0.3s ease-in-out;
} 

.kt-portlet .kt-portlet__head .kt-portlet__head-label .btns-box a:hover,
.kt-portlet .kt-portlet__head .kt-portlet__head-label .btns-box button:hover {
  background-color: #17b978 !important;
  color: #fff !important;
  transition: all 0.3s ease-in-out;
}

.input-group-prepend .select2-container {
  width: 100% !important;
}
/* END:: GLOBAL STYLES */

/* START:: MOBILE CUSTOMIZE MENU STYLES */
.kt-header-mobile {
  background-color: #333;;
}

.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toolbar-topbar-toggler.kt-header-mobile__toolbar-topbar-toggler--active i, 
.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toolbar-topbar-toggler:hover i {
  color: #17b978; 
}

.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toolbar-toggler:hover span,
.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toolbar-toggler.kt-header-mobile__toolbar-toggler--left:hover span:before,
.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toolbar-toggler.kt-header-mobile__toolbar-toggler--left:hover span:after {
  background: #17b978;
}

.kt-header__topbar--mobile-on .kt-header__topbar {
  background: rgb(54, 63, 57);
  border-top: 1px solid #17b978;
}

#kt_header_mobile .kt-header-mobile__logo a h3 {
  color: #fff;
}

#kt_header_mobile .kt-header-mobile__logo a h3 span {
  color: #17b978;
}

.kt-aside-close {
  background-color: transparent;
}

.kt-aside-close:hover {
  background-color: transparent;
}

.kt-aside-close > i {
  color: #17b978;
}
/* END:: MOBILE CUSTOMIZE MENU STYLES */

/*  START:: CUSTOMIZE HEADER STYLE  */
#kt_header {
  justify-content: flex-end;
}

.kt-header {
  background-color: #333;
}

.kt-header__topbar .kt-header__topbar-item .kt-header__topbar-icon i {
  color: #fff;
}

.kt-header__topbar .kt-header__topbar-item:hover .kt-header__topbar-icon, 
.kt-header__topbar .kt-header__topbar-item.show .kt-header__topbar-icon {
  background-color: transparent;
  
}

.kt-header__topbar .kt-header__topbar-item:hover i {
  color: #17b978 !important;
}

.kt-nav .kt-nav__item.kt-nav__item--active > .kt-nav__link, 
.kt-nav .kt-nav__item.active > .kt-nav__link, 
.kt-nav .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub) > .kt-nav__link
{
  background-color: transparent;
}

.kt-nav .kt-nav__item.kt-nav__item--active > .kt-nav__link .kt-nav__link-icon, 
.kt-nav .kt-nav__item.kt-nav__item--active > .kt-nav__link .kt-nav__link-text, 
.kt-nav .kt-nav__item.kt-nav__item--active > .kt-nav__link .kt-nav__link-arrow, 
.kt-nav .kt-nav__item.active > .kt-nav__link .kt-nav__link-icon, 
.kt-nav .kt-nav__item.active > .kt-nav__link .kt-nav__link-text, 
.kt-nav .kt-nav__item.active > .kt-nav__link .kt-nav__link-arrow, 
.kt-nav .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub) > .kt-nav__link .kt-nav__link-icon, 
.kt-nav .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub) > .kt-nav__link .kt-nav__link-text, 
.kt-nav .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub) > .kt-nav__link .kt-nav__link-arrow
{
  color: #17b978;
}
/*  END:: CUSTOMIZE HEADER STYLE  */

/*  START:: CUSTOMIZE SUBHEADER STYLE  */

.kt-subheader .kt-subheader__btn-daterange .kt-subheader__btn-daterange-date,
.kt-subheader .kt-subheader__main .kt-subheader__title a
{
  color: #17b978;
}

.kt-svg-icon g [fill] {
  fill: #17b978;
}
/*  END:: CUSTOMIZE SUBHEADER STYLE  */

/* START:: CUSTOMIZE ASIDE STYLE */
.kt-aside__brand {
  background-color: #333;
}

.kt-aside--minimize .kt-aside__brand .kt-aside__brand-logo img,
.kt-aside--minimize .kt-aside__brand .kt-aside__brand-logo h3 {
  display: none;
}

.kt-grid.kt-grid--hor-desktop.kt-grid--desktop > #kt_aside_brand {
  align-items: center;
}

.kt-aside__brand .kt-aside__brand-tools .kt-aside__brand-aside-toggler span,
.kt-aside__brand .kt-aside__brand-tools .kt-aside__brand-aside-toggler span::before, 
.kt-aside__brand .kt-aside__brand-tools .kt-aside__brand-aside-toggler span::after 
{
  background: #17b978;
}

.kt-grid.kt-grid--hor-desktop.kt-grid--desktop > #kt_aside_brand .kt-aside__brand-logo h3 {
  margin: 0;
}

.kt-grid.kt-grid--hor-desktop.kt-grid--desktop > #kt_aside_brand .kt-aside__brand-logo h3 span {
  color: #17b978;
  font-weight: 600;
}
/* END:: CUSTOMIZE ASIDE STYLE */

/* START:: CUSTOMIZE ASIDEMENU STYLE*/
.kt-aside-menu {
  background-color: #212121;
}

.kt-aside .ps > .ps__rail-y > .ps__thumb-y {
  background-color: #666 !important;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__heading, 
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link {
  background-color: #17b978;
  margin-bottom: 10px;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__heading .kt-menu__link-icon, 
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link .kt-menu__link-icon,
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__heading .kt-menu__link-text, 
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link .kt-menu__link-text {
  color: #fff;
  font-weight: 600;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__link-icon, 
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-icon,
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__link-text, 
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text {
  color: #fff
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading, 
.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link {
  background-color: #1aa76e;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading .kt-menu__link-icon, 
.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link .kt-menu__link-icon,
.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading .kt-menu__link-text, 
.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link .kt-menu__link-text {
  color: #fff;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__heading, 
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__link {
  background-color: #444;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__ver-arrow, 
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__ver-arrow {
  color: #fff;
  font-size: 14px;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__heading .kt-menu__link-icon, 
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__link .kt-menu__link-icon {
  color: #fff;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav > .kt-menu__item > .kt-menu__link {
  padding: 15px 30px;
  color: #fff;
  background-color: transparent;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading, 
.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link
{
  background-color: #17b978;
}

@media (min-width: 1025px) {
  .kt-aside--minimize .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link > .kt-menu__link-icon {
    color: #fff;
  }
}
/* END:: CUSTOMIZE ASIDEMENU STYLE*/

/* START:: CUSTOMIZE MAIN SECTION STYLE */
.kt-container .kt-portlet {
  min-height: 390px;
}

.kt-container .kt-portlet .kt-portlet__head .title-container a,
.kt-container .kt-portlet .kt-portlet__head .title-container button {
  border-color: #17b978 !important;
  color: #17b978 !important;
  transition: all 0.3s ease-in-out;
}

.kt-container .kt-portlet .kt-portlet__head .title-container a:hover,
.kt-container .kt-portlet .kt-portlet__head .title-container button:hover 
{
  background-color: #17b978 !important;
  color: #fff !important;
  transition: all 0.3s ease-in-out;
}
/* END:: CUSTOMIZE MAIN SECTION STYLE */

/* START:: CUSTOMIZE DATATABLE STYLE */
.dataTables_wrapper {
  padding: 2rem !important;
}

.dataTables_wrapper .dataTables_filter input,
.dataTables_wrapper .dataTables_length select {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #17b978;
  margin: 5px;
}

.dataTables_wrapper .dataTables_filter input:focus,
.dataTables_wrapper .dataTables_length select {
  outline: none;
}

.dataTables_wrapper .dataTables_length select option:hover {
  background-color: #ccc !important;
}

table.dataTable.no-footer {
  border: 1px solid #ececec;
}

.table .thead-dark th {
  color: #fff;
}

table.dataTable thead .sorting.action,
table.dataTable thead .sorting_desc.action,
table.dataTable thead .sorting_asc.action {
  background-image: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color: #fff !important;
  background: #17b978;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #17b978 !important;
  border: 1px solid #17b978 !important;
  background: transparent !important;
  transition: all 0.2s ease-in-out;
}

table.dataTable td .kt-badge {
  width: 35px;
  height: 35px;
  margin: 2px;
}

table.dataTable td .kt-badge i {
  font-size: 18px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #fff !important;
  color: #1aa76e !important;
  border: none !important;
  font-weight: 600 !important;
}
/* END:: CUSTOMIZE DATATABLE STYLE */

/* START:: CUSTOMIZE HR ADD NEW EMPLOYEE PAGE STYLE */

    /* START:: CUSTOMIZE UPLOAD FILES BUTTON STYLE*/
label.btn.btn-label-brand, a.btn.btn-label-brand, 
button.btn.btn-label-brand, 
input.btn.btn-label-brand {
  background-color: #17b9788f;
  color: #fff;
}

label.btn.btn-label-brand:focus, 
label.btn.btn-label-brand:hover, 
label.btn.btn-label-brand.active, 
a.btn.btn-label-brand:focus, 
a.btn.btn-label-brand:hover, 
a.btn.btn-label-brand.active, 
button.btn.btn-label-brand:focus, 
button.btn.btn-label-brand:hover, 
button.btn.btn-label-brand.active, 
input.btn.btn-label-brand:focus,
input.btn.btn-label-brand:hover, 
input.btn.btn-label-brand.active {
  background-color: #17b978;
}
    /* END:: CUSTOMIZE UPLOAD FILES BUTTON STYLE*/

/* END:: CUSTOMIZE HR ADD NEW EMPLOYEE PAGE STYLE */

/* START:: CUSTOMIZE HR ACCOUNTING PAGE STYLE */
.kt-container .financ-container {
  min-height: 200px !important;
  max-height: 200px !important;
}

.kt-iconbox .kt-iconbox__body {
  flex-direction: column;
  text-align: center;
}

.kt-iconbox .kt-iconbox__body .kt-iconbox__icon {
  padding: 0;
  margin-bottom: 5px;
}

.kt-iconbox .kt-iconbox__body .kt-iconbox__desc .kt-iconbox__title {
  font-size: 1.3rem;
}
/* END:: CUSTOMIZE HR ACCOUNTING PAGE STYLE */

/* START:: CUSTOMIZE SCROLLTOP STYLE */
.kt-scrolltop {
  background: #17b978;
}
/* END:: CUSTOMIZE SCROLLTOP STYLE */